<!DOCTYPE html>
<html lang="{$_ENV['APP_LOCATE']}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$_ENV['APP_NAME']}</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    {if $session->has('flash.error')}
        <div class="max-w-3xl mx-auto mt-4 px-4 py-3 rounded-md bg-red-50 border border-red-200 text-red-800">
            {$session->flash('flash.error')}
        </div>
    {/if}

    {if $session->has('flash.success')}
        <div class="max-w-3xl mx-auto mt-4 px-4 py-3 rounded-md bg-red-50 border border-red-200 text-red-800">
            {$session->flash('flash.success')}
        </div>
    {/if}

    {include content}
</body>

</html>