APP_NAME=phppure
APP_LOCATE=pt_BR

# Database 
DB_DRIVER="sqlite"

DB_SQLITE_FILE=database2.db

DB_MYSQL_HOST="localhost"
DB_MYSQL_USER="root"
DB_MYSQL_PASSWORD="password"
DB_MYSQL_database="database"